global
    log stdout format raw local0 info
    maxconn 1024  # Incrementa el límite de conexiones simultáneas

defaults
    log global
    mode http
    timeout connect 3s     # Reduce el tiempo de espera para establecer una conexión
    timeout client 30s     # Reduce el tiempo de espera para la respuesta del cliente
    timeout server 30s     # Reduce el tiempo de espera para la respuesta del servidor
    option httplog
    option dontlognull
    retries 3              # Número de reintentos si una conexión falla
    option redispatch      # Reintenta en otro servidor si el actual está ocupado

frontend myfrontend
    bind *:80
    maxconn 1000           # Límite de conexiones por frontend

    # Enrutamiento basado en la URL
    acl auth_service_path path_beg /api/auths
    acl user_service_path path_beg /api/users
    acl product_service_path path_beg /api/products
    acl employee_service_path path_beg /api/employees
    acl sale_service_path path_beg /api/sales
    acl order_service_path path_beg /api/orders

    # Reenvía a los backends correspondientes
    use_backend auth_backend if auth_service_path
    use_backend user_backend if user_service_path
    use_backend product_backend if product_service_path
    use_backend employee_backend if employee_service_path
    use_backend sale_backend if sale_service_path
    use_backend order_backend if order_service_path

# Definición de backends específicos para cada servicio
backend auth_backend
    balance source
    server auth1 auth-service:3000 check maxconn 100
    server auth2 auth-service:3000 check maxconn 100
    server auth3 auth-service:3000 check maxconn 100

backend user_backend
    balance source
    server users1 user-service:3000 check maxconn 100
    server users2 user-service:3000 check maxconn 100
    server users3 user-service:3000 check maxconn 100

backend product_backend
    balance source
    server products1 product-service:3000 check maxconn 100
    server products2 product-service:3000 check maxconn 100
    server products3 product-service:3000 check maxconn 100

backend employee_backend
    balance source
    server employees1 employee-service:3000 check maxconn 100
    server employees2 employee-service:3000 check maxconn 100
    server employees3 employee-service:3000 check maxconn 100

backend sale_backend
    balance source
    server sales1 sale-service:3000 check maxconn 100
    server sales2 sale-service:3000 check maxconn 100
    server sales3 sale-service:3000 check maxconn 100

backend order_backend
    balance source
    server orders1 order-service:3000 check maxconn 100
    server orders2 order-service:3000 check maxconn 100
    server orders3 order-service:3000 check maxconn 100
